<div>
    <h2 id="page-heading">
        <span jhiTranslate="agenceApp.confort.home.title">Conforts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-confort" [routerLink]="['/confort/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="agenceApp.confort.home.createLabel">
            Create new Confort
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="conforts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="agenceApp.confort.libele">Libele</span></th>
            <th><span jhiTranslate="agenceApp.confort.valeur">Valeur</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let confort of conforts ;trackBy: trackId">
                <td><a [routerLink]="['/confort', confort.id, 'view' ]">{{confort.id}}</a></td>
                <td>{{confort.libele}}</td>
                <td>{{confort.valeur}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/confort', confort.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/confort', confort.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'confort/'+ confort.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
