<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-voyage-heading" jhiTranslate="agenceApp.voyage.home.createOrEditLabel">Create or edit a Voyage</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!voyage.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="voyage.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="agenceApp.voyage.dateDepart" for="field_dateDepart">Date Depart</label>
                    <div class="input-group">
                        <input id="field_dateDepart" type="text" class="form-control" name="dateDepart" ngbDatepicker  #dateDepartDp="ngbDatepicker" [(ngModel)]="voyage.dateDepart"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDepartDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="agenceApp.voyage.duree" for="field_duree">Duree</label>
                    <input type="number" class="form-control" name="duree" id="field_duree"
                        [(ngModel)]="voyage.duree" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="agenceApp.voyage.description" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                        [(ngModel)]="voyage.description" ></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="agenceApp.voyage.rubrique" for="field_rubrique">Rubrique</label>
                    <select class="form-control" id="field_rubrique" name="rubrique" [(ngModel)]="voyage.rubrique"  required>
                        <option *ngIf="!editForm.value.rubrique" [ngValue]="null" selected></option>
                        <option [ngValue]="rubriqueOption.id === voyage.rubrique?.id ? voyage.rubrique : rubriqueOption" *ngFor="let rubriqueOption of rubriques; trackBy: trackRubriqueById">{{rubriqueOption.libele}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.rubrique?.dirty && editForm.controls.rubrique?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.rubrique?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="agenceApp.voyage.lieuDepart" for="field_lieuDepart">Lieu Depart</label>
                    <select class="form-control" id="field_lieuDepart" name="lieuDepart" [(ngModel)]="voyage.lieuDepart"  required>
                        <option *ngIf="!editForm.value.lieuDepart" [ngValue]="null" selected></option>
                        <option [ngValue]="lieuOption.id === voyage.lieuDepart?.id ? voyage.lieuDepart : lieuOption" *ngFor="let lieuOption of lieus; trackBy: trackLieuById">{{lieuOption.libele}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.lieuDepart?.dirty && editForm.controls.lieuDepart?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lieuDepart?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="agenceApp.voyage.lieuArrive" for="field_lieuArrive">Lieu Arrive</label>
                    <select class="form-control" id="field_lieuArrive" name="lieuArrive" [(ngModel)]="voyage.lieuArrive"  required>
                        <option *ngIf="!editForm.value.lieuArrive" [ngValue]="null" selected></option>
                        <option [ngValue]="lieuOption.id === voyage.lieuArrive?.id ? voyage.lieuArrive : lieuOption" *ngFor="let lieuOption of lieus; trackBy: trackLieuById">{{lieuOption.libele}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.lieuArrive?.dirty && editForm.controls.lieuArrive?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lieuArrive?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="agenceApp.voyage.environnement" for="field_environnement">Environnement</label>
                    <select class="form-control" id="field_environnement" name="environnement" [(ngModel)]="voyage.environnement"  required>
                        <option *ngIf="!editForm.value.environnement" [ngValue]="null" selected></option>
                        <option [ngValue]="environnementOption.id === voyage.environnement?.id ? voyage.environnement : environnementOption" *ngFor="let environnementOption of environnements; trackBy: trackEnvironnementById">{{environnementOption.libele}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.environnement?.dirty && editForm.controls.environnement?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.environnement?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
